# Project Files
**/model_output/
hai_env/
*.png
temp.py
.vscode/

# Typical Ignores
__pycache__/
*.pyc
.idea/
.coverage*
.DS_Store
.idea
documents/
pycallgraph*
.Rproj.user
.ipynb_checkpoints/
.cache/
